*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/* Hero */
/* Header */
.logoh{
    width: 100px;
}
.header{
    display: flex;
    height: 100px;
    background-color: #868069;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.linkh{
    display: flex;
    gap: 20px;
}
.linkh a{
    text-decoration: none;
    color: #e6dcb3;
}
/* ---Hero Content---*/
.imageh{
    width: 100%;
}
.hero{
    background-color: #e6dcb3;
    display: flex;
    padding: 24px;
    gap: 16px;
    justify-content: center;
}
.texth{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: flex-start;
    color: #585445;
}
.desh{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.button{
    width: 50%;
    margin-top: 36px;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #868069;
    color: beige;
}

/* Card section */
#cardsSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    padding: 20%;
    color: #585445;
}
.cardsBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
    gap: 3%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}

.box{
    border: 3px solid #868069;
    width: 100%;
    height: 100px;
    border-radius: 10%;
}
.textc{
text-align: center;
width: 100%;
margin-top: 8px;
}

/* Quote Section */
#quote{
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
    background-color: #585445;
    padding: 10% 25%;
    color: beige;
    font-style: italic;
}
.authorq{
    text-align: end;
    margin-top: 8px;
    font-weight: 800;
    font-style: normal;
}

/* Call to Action */
#cta{
background-color: #e6dcb3;
width: 80%;
height: 100px;
display: flex;
margin: 10%;
padding: 16px;
gap: 10%;
border-radius: 10px;
align-items: center;
justify-content: center;
}
.textcta{
display: flex;
flex-direction: column;
justify-content: center;
width: fit-content;
height: 70%
}
#cta>.button{
    margin-top: 0;
    width: 25%;
}
/* Footer */
#footer{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #868069;
    text-align: center;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #f4f1e6;
}